.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #105266;
}

.row,
.header {
  border-bottom: solid 1px #105266;
}

.wrapper {
  width: 50%;
  height: 600px;
  transform: translateX(50%);
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  border: solid 1px grey;
  justify-content: center;
  align-items: center;
}

.todoListContainer {
  width: 95%;
  height: auto;
  margin: 0;
  position: relative;
  padding: 12px;
  border: none;
  outline: none;
}

.todoList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px grey;
}

.edit {
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #105266;
  cursor: pointer;
  margin: 5px;
}

.form-control {
  margin: 0;
  width: 80%;
  position: fixed;
  transform: translateX(10%);
  left: 0;
  right: 0;
  bottom: 0;
  border: blue solid 1px;
  padding: 16px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  color: #105266;
}

.taskCreate {
  padding: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 80%;
  color: #105266;
}

.addTask {
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #105266;
  border-radius: 50%;
}

/*modal to edit task*/
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.25) !important;
  display: flex;
  flex: 1;
  justify-content: center;
}

.ReactModal__Content {
  height: 220px;
  width: 400px;
  position: relative !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.closebtn {
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #105266;
  margin: 5px;
  cursor: pointer;
}

.taskEdit {
  padding: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 90%;
  color: #105266;
}

.delete,
.save {
  position: relative;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 14px;
  width: 180px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.save {
  left: 27px;
  background-color: rgb(28, 109, 28);

}

.delete {
  background-color: rgb(160, 31, 31);
}